body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

.navbar .esquerda {
  font-size: 32px;
  font-weight: bold;
}
.navbar .direita {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .direita img {
  width: 24px;
  height: 24px;
}
.navbar .direita a {
  text-decoration: none;
  color: black;
}
.navbar .direita a:hover {
  text-decoration: underline;
}

.navbar .hamburguer {
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .bar1,
.navbar .bar2,
.navbar .bar3 {
  background-color: black;
  height: 4px;
  width: 36px;
  border-radius: 10px;
  margin: 3px;
}

.grid-projetos {
  display: grid;
  grid-template-areas:
    'rio rio casa'
    'rio rio padrao'
    'passaro arvore padrao'
    'garota ondas ondas'
    'garota ondas ondas'
    'navios navios flores'
    'navios navios flores';
  gap: 16px;
}

#rio {
  grid-area: rio;
}

#casa {
  grid-area: casa;
}
#padrao {
  grid-area: padrao;
}
#passaro {
  grid-area: passaro;
}
#arvore {
  grid-area: arvore;
}
#garota {
  grid-area: garota;
}
#ondas {
  grid-area: ondas;
}
#flores {
  grid-area: flores;
}
#navios {
  grid-area: navios;
}

.projeto {
  position: relative;
}

.projeto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay.branco {
  color: white;
}

.projeto .overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s ease;
}

.projeto .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 48px;
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
  .grid-projetos {
    grid-template-areas:
      'rio rio'
      'casa padrao'
      'passaro arvore'
      'ondas ondas'
      'garota navios'
      'flores flores';
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
  }

  .navbar .hamburguer {
    display: flex;
  }
  .grid-projetos {
    grid-template-areas:
      'rio rio'
      'casa casa'
      'padrao padrao'
      'passaro arvore'
      'ondas ondas'
      'garota garota'
      'navios navios'
      'flores flores';
    margin-top: 70px;
  }
  .projeto .overlay {
    font-size: 24px;
  }
  .navbar .direita {
    display: none;
  }
}
