body {
  font-family: 'Poppins', sans-serif;
}

.grid-projetos {
  display: grid;
  grid-template-areas:
    'rio rio casa'
    'rio rio padrao'
    'passaro arvore padrao'
    'garota ondas ondas'
    'garota ondas ondas'
    'navios navios flores'
    'navios navios flores';
}

#rio {
  grid-area: rio;
}

#casa {
  grid-area: casa;
}
#padrao {
  grid-area: padrao;
}
#passaro {
  grid-area: passaro;
}
#arvore {
  grid-area: arvore;
}
#garota {
  grid-area: garota;
}
#ondas {
  grid-area: ondas;
}
#flores {
  grid-area: flores;
}
#navios {
  grid-area: navios;
}

.projeto {
  position: relative;
}

.projeto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projeto .overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s ease;
}

.projeto .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
